@import 'tailwindcss';

.custom-pagination {
	background: #333;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 4px !important;
}
.swiper-pagination-bullet-active {
	background: #197bff !important;
}
